DOROSAK_REDIS_PASSWORD=
DOROSAK_REDIS_PORT=6380

DOROSAK_MINIO_ROOT_USER=dorosak_local_admin
DOROSAK_MINIO_ROOT_PASSWORD=
DOROSAK_MINIO_API_PORT=9100
DOROSAK_MINIO_CONSOLE_PORT=9101

DOROSAK_MAILPIT_SMTP_PORT=1026
DOROSAK_MAILPIT_UI_PORT=8026

DOROSAK_CLAMAV_PORT=3311

DOROSAK_API_PORT=5053
DOROSAK_MEDIATR_LICENSE_KEY=
DOROSAK_AUTOMAPPER_LICENSE_KEY=
DOROSAK_OTEL_ENDPOINT=

DOROSAK_NEON_PROJECT_ID=wispy-glitter-91617289
DOROSAK_NEON_OWNER_POOLED_URL=
DOROSAK_NEON_OWNER_DIRECT_URL=
Migrations__ConnectionString=
ConnectionStrings__Database=
ConnectionStrings__Redis=
